<div id="wrapper">
  <div id="content_wrapper">
    <div class="flashes">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class=>"flash flash_#{name}" %>
      <% end %>
    </div>
    <div id="osprotect_content" class="with_sidebar">
      <div id="main_content_wrapper">
        <div id="main_content">
          <div id="incident">
            <%= form_for(@incident, :html => {:multipart => true}) do |f| %>
              <% if @incident.errors.any? %>
                <div id="error_explanation">
                  <h3><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h3>
                  <ul>
                  <% @incident.errors.full_messages.each do |msg| %>
                    <li><h3><%= msg %></h3></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <fieldset class="inputs">
                <ol>
                  <li class="name required">
                    <label>Name</label>
                    <%= f.text_field :incident_name %>
                  </li>
                  <li class="incident_status">
                    <label>Status</label>
                    <%= f.select(:status, options_for_select([["pending", "pending"], ["suspicious", "suspicious"], ["resolved", "resolved"]], selected: @incident.status)) %>
                  </li>
                  <li class="description">
                    <label>Description</label>
                    <%= f.text_area :incident_description, :rows => 3, :cols => 50 %>
                  </li>
                  <li class="resolution">
                    <label>Resolution</label>
                    <%= f.text_area :incident_resolution, :rows => 3, :cols => 50 %>
                  </li>
                  <li class="buttons commit" style="margin-top:-5px">
                    <label>&nbsp;</label>
                    <%= f.submit %>
                  </li>
                </ol>
              </fieldset>
            <% end %>
          </div> <!-- incident -->
        </div> <!-- main_content -->
      </div> <!-- main_content_wrapper -->

      <div id="sidebar">
        <div class="sidebar_section panel">
          <h3 style="margin-top:-2px">&larr; <%= @incident.new_record? ? "New Incident" : "Incident Id: #{@incident.id}" %></h3>
          <div class="panel_contents">
              <ul>
                <li>Events count: <%= number_with_delimiter @incident.incident_events.count %></li>
              </ul>
          </div> <!-- panel_contents -->
        </div> <!-- sidebar_section -->
      </div> <!-- sidebar -->

    </div> <!-- osprotect_content -->
  </div> <!-- content_wrapper -->
</div> <!-- wrapper -->

<% if @incident.incident_events.count > 0 %>
    <%= render partial: 'incident_events', locals: {incident_events: @incident_events} %>
<% end %>
