<% @title = 'Groups' %>
<div class="flashes">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class=>"flash flash_#{name}" %>
  <% end %>
</div>
<div id="osprotect_content" class="without_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <div class="paginated_collection">
        <%= form_tag new_group_path, method: :get do %>
          <div class="buttons" id="add_new_group">
            <%= submit_tag 'New Group' %>
          </div>
        <% end %>
        <div class="pagination_information"><%= page_entries_info @groups %></div>
        <div class="paginated_collection_contents">
          <div class="index_content">
            <div class="index_as_table">
              <table border="0" cellspacing="0" cellpadding="0" id="events" class="index_table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Users</th>
                    <th>Sensors</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% if @groups %>
                      <% @groups.each do |group| %>
                          <tr class="<%= cycle('even', 'odd') %>">
                            <td><%= link_to group.name, edit_group_path(group) %></td>
                            <td><%= group.users.map {|u| u.username}.join(', ') %></td>
                            <td>
                              <% if group.name.downcase == 'admins' %>
                                <strong>All</strong>
                              <% else %>
                                <%#= group.group_sensors.map {|gs| gs.sensor_name}.join(', ') %>
                                <%#= group.group_sensors.map {|gs| gs.sensor_id}.join(', ') %>
                                <%= group.group_sensors.map {|gs| gs.sensor.hostname}.join(', ') %>
                              <% end %>
                            </td>
                            <td>
                              <% if group.group_is_admins? %>
                                &nbsp;
                              <% else %>
                                <%= link_to 'delete', group, data: {confirm: 'Are you sure?'}, method: :delete %>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                  <% else %>
                    <tr><td colspan="6"><h3>No groups found!</h3></td></tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- index_as_table -->
          </div> <!-- index_content -->
        </div> <!-- paginated_collection_contents -->
        <div id="index_footer">
          <%= will_paginate @groups %>
        </div> <!-- index_footer -->
      </div> <!-- paginated_collection -->
    </div> <!-- main_content -->
  </div> <!-- main_content_wrapper -->
</div> <!-- osprotect_content -->
