<% @title = 'Users' %>
<div class="flashes">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class=>"flash flash_#{name}" %>
  <% end %>
</div>
<div id="osprotect_content" class="without_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <div class="paginated_collection">
        <%= form_tag new_user_path, method: :get do %>
          <div class="buttons" id="add_new_user">
            <%= submit_tag 'New User' %>
          </div>
        <% end %>
        <div class="pagination_information"><%= page_entries_info @users %></div>
        <div class="paginated_collection_contents">
          <div class="index_content">
            <div class="index_as_table">
              <table border="0" cellspacing="0" cellpadding="0" id="events" class="index_table">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% if @users %>
                      <% @users.each do |user| %>
                          <tr class="<%= cycle('even', 'odd') %>">
                            <td><%= link_to user.username, edit_user_path(user) %></td>
                            <td><%= user.email %></td>
                            <% if user.id == current_user.id || user.username.strip.downcase == 'admin' %>
                              <td>&nbsp;</td>
                            <% else %>
                              <td><%= link_to 'delete', user, data: {confirm: "\n*** WARNING ***\n\nThis will also delete all Notifications, Reports, and PDF's created by this user.\n\nThis action may take a while to complete, please be patient ... thank you.\n\nAre you sure?\n\n"}, method: :delete %></td>
                            <% end %>
                          </tr>
                      <% end %>
                  <% else %>
                    <tr><td colspan="6"><h3>No users found!</h3></td></tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- index_as_table -->
          </div> <!-- index_content -->
        </div> <!-- paginated_collection_contents -->
        <div id="index_footer">
          <%= will_paginate @users %>
        </div> <!-- index_footer -->
      </div> <!-- paginated_collection -->
    </div> <!-- main_content -->
  </div> <!-- main_content_wrapper -->
</div> <!-- osprotect_content -->
