<!DOCTYPE html>
<html>
<head>
  <title>osProtect</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="logged_out new">
<div class="login_wrapper">
  <h1>
    <%= link_to image_tag("Clone_Systems_Managed_Security.jpeg", :alt => "Clone Systems Website", :class => 'Llogo'), "http://www.clone-systems.com", target: "_blank" %>
    <div class="os_protect"></div>
  </h1>
  <%= yield %>
  <div class="clear"></div>
</div>

<footer>
  <center>
    2013 
    <% if APP_CONFIG[:show_versions_and_limits] %>
        &nbsp;&nbsp;
        version: <%= APP_CONFIG[:version] %>
        &nbsp;&nbsp;
    <% end %>
  </center>
</footer>
</body>
</html>
